/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2016, 23:30:47
    Author     : pablo
*/

h1,h2,h3,h4,h5,h6{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}

body, html{
    margin:0;
    padding:0;
}
.big{
    height: 20px;
    background-color: black;
    
}

.clear{
    clear: both;
}

span.center{
    text-align: center;
}

div#fadeIn{
    margin-top: 246px;
}

div.skParallaxAnim {
    margin-top: 113px;
}

div.textPequeño{
    width: 33%;
    float: left;
}

div#allEffectsFadeIn {
    height: 365px;
}

div#allEffects {
    height: 364px;
}

div#rotar{
    height: 700px;
}

.small_rectangle {
    background: red;
    float: left;
    margin: 2px;
    width: 435px;
    height: 294px;
}

